.Checkout {
  &__label-for-shipping-rate-id > .loader {
    @include loader();
  }

  &__fieldset-billing-address {
    max-height: 999px;
    transition: all 0.2s;
    overflow: hidden;

    &.hide {
      max-height: 0;
    }
  }
}
