.NavMenuAside__backdrop {
  display: none;
  background: rgba(0, 0, 0, 0.25);

  &.mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @media (min-width: 640px) {
      display: none;
    }
  }
}

.NavMenuAside__links {
  display: none;

  padding: 2rem;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.2);

  &.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    z-index: 1;

    animation: keyframes-NavMenuAside 1s forwards;

    @media (min-width: 640px) {
      display: none;
    }

    @keyframes keyframes-NavMenuAside {
      50% {
        transform: translateY(50%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
