.SearchNav__backdrop {
  display: none;
  background: rgba(0, 0, 0, 0.25);

  &.mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.SearchNav__input {
  display: none;
  @media (min-width: 768px) {
    display: block;
    position: static;
    z-index: auto;
  }

  &.mobile {
    display: block;
    position: absolute;
    z-index: 1;
    @media (min-width: 768px) {
      display: block;
      position: static;
      z-index: auto;
    }
  }
}
