// refer .btn:hover at chrome inspector
.link-is-active {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-0875 {
  font-size: 0.875rem;
}

.fs-075 {
  font-size: 0.75rem;
}

.min-w-1rem {
  min-width: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
